---
import Layout from "src/layouts/Layout.astro";
import FiveStarCard from "$components/banner-cards/characters/five-star-card.svelte";
import FourStarCard from "$components/banner-cards/characters/four-star-card.svelte";
import Clorinde from "../content/characters/genshin/clorinde.json";
import Alhaitham from "../content/characters/genshin/alhaitham.json";
import Furina from "../content/characters/genshin/furina.json";

// import Banner from "../components/banner-cards/banner.svelte";
// import { getCollection } from "astro:content";

// const versions = await getCollection("versions", ({ id }) => {
//   return id.startsWith("genshin");
// });
// const events = await getCollection("events", ({ id }) => {
//   return id.startsWith("genshin");
// });
---

<Layout title="The Daily Drip">
  <!-- {versions.map((version) => <Banner {version} {events} />)} -->
  <div
    class="grid grid-cols-[auto_auto_40%] gap-2 bg-white bg-opacity-30 shadow-md p-4"
  >
    <FiveStarCard character={Clorinde} game="genshin" />
    <FiveStarCard character={Alhaitham} game="genshin" />
    <div class="flex-grow w-full flex flex-col gap-1">
      <h2>Featured Four Stars</h2>
      <FourStarCard character={Furina} game="genshin" />
      <FourStarCard character={Furina} game="genshin" />
      <FourStarCard character={Furina} game="genshin" />
    </div>
  </div>
</Layout>
