---
import Disclaimer from '$components/Disclaimer.astro'
import Layout from '../layouts/Layout.astro'
import { Version } from '../classes/version.ts'
import Banner from '../components/banner-cards/banner.svelte'
import { getCollection, getEntry } from 'astro:content'
import { getPhase } from '../scripts/specs.ts'
import dayjs from 'dayjs'
import type { Character } from 'src/classes/character'
import { Weapon } from 'src/classes/weapon'
import { tz_genshin } from 'src/scripts/settings'

let game = 'genshin'

const images = {
	backgrounds: import.meta.glob('../assets/backgrounds/genshin/*.webp', { eager: true }),
	gachaCards: import.meta.glob('../assets/characters/genshin/*/gachaCard.webp', {
		eager: true
	}),
	gachaSplash: import.meta.glob('../assets/characters/genshin/*/gachaSplash.webp', {
		eager: true
	}),
	bannerCards: import.meta.glob('../assets/characters/genshin/*/bannerCard.webp', {
		eager: true
	}),
	weapons: import.meta.glob('../assets/weapons/*.webp', { eager: true }),
	placeHolders: import.meta.glob('../assets/placeholders/genshin/*{.webp, .png}', { eager: true })
}

const collections = {
	game: await getEntry('games', game),
	characters: await getCollection('characters', ({ id }) => {
		return id.startsWith(game)
	}),
	weapons: await getCollection('weapons', ({ id }) => {
		return id.startsWith(game)
	}),
	events: await getCollection('events', ({ id, data }) => {
		return id.startsWith(game)
	})
}

const versionCollection = await getCollection('versions', ({ id }) => {
	return id.startsWith(game)
})

let versions: Version[] = []

versionCollection.forEach(({ data }) => {
	let v = new Version(data)

	let chronicledWish = collections.events.filter(({ id, data }) => {
		return id.startsWith(`${game}/${v.version}`) && data.type === 'chronicle'
	})

	//console.log(chronicledWish)
	if (chronicledWish.length != 0) {
		v.chronicle = {
			characters: [],
			weapons: []
		}

		chronicledWish.forEach((e) => {
			if (e.data.character) {
				let character = collections.characters.find((c) => c.id === e.data.character.id)
				let characterData: Character = character.data

				if (e.data.status === 'spec') {
					characterData.spec = true
				}
				v.chronicle.characters.push(characterData)
			} else if (e.data.weapon) {
				let weapon = collections.weapons.find((w) => w.id === e.data.weapon.id)

				let weaponData: Weapon = new Weapon(weapon.data, game, e.data.priority)

				if (e.data.status === 'spec') {
					weaponData.spec = true
				}
				v.chronicle.weapons.push(weaponData)
			}
		})

		v.chronicle.weapons.sort((a, b) => {
			const x = a.priority ? 1 : 0
			const y = b.priority ? 1 : 0
			return y - x
		})
	}

	//console.log(v)

	if (dayjs(v.startDate) > dayjs().subtract(3, 'week')) {
		v.phases = [
			getPhase(game, data, 0, collections, tz_genshin),
			getPhase(game, data, 1, collections, tz_genshin)
		]
		versions.push(v)
	}
})
---

<Layout title="The Daily Drip">
	<section class="p-2 lg:p-4 flex flex-col items-center gap-4 h-max md:max-w-[1400px]">
		{versions.map((version) => <Banner {version} {game} {images} client:load />)}
	</section>

	<!-- <Banner {version} game="genshin" /> -->
</Layout>
