---
import Layout from "$layouts/Layout.astro";
import ProxyService from "$services/imgproxy";
import directus from "$services/directus";
import { readItems } from "@directus/sdk";
import chroma from "chroma-js";
import palette from "$assets/palette.json";

const characters = await directus.request(
  readItems("characters", {
    fields: [
      "id",
      "name",
      "game",
      "primaryAttribute",
      "secondaryAttribute",
      "focalPoint",
      "crop",
      "colors",
    ],
  })
);

const images = characters.map((c) => {
  let path = "/characters/" + c.game + "/" + c.id + "/gachaSplash.webp";
  const bannerCrop = { x: 0.85, y: 0.4 };

  const bannerCard = [
    { key: "trim", params: [1, "FF00FF"] },
    { key: "gravity", params: ["fp", 0, c.focalPoint.y + 0.07] },
    {
      key: "crop",
      params: [
        Math.min(bannerCrop.x * c.crop.x, 0.99),
        Math.min(bannerCrop.y * c.crop.y, 0.99),
      ],
    },
    { key: "resize", params: ["fit", 1150, 300] },
    { key: "extend", params: ["1", "ea"] },
  ];

  const bannerPath = ProxyService.getImage(path, bannerCard);
  return bannerPath;
});

function getAccent(colors: any) {
  const bg = colors[0].hex;
  const sats = sortBy(colors, "saturation");

  let index = 0;
  while (index != 99 && chroma.contrast(bg, sats[index].hex) < 4.5) {
    // console.log(chroma.contrast(bg, sats[index].hex));
    index++;
    if (index + 1 == sats.length) {
      index = 99;
    }
    // console.log(index);
  }

  if (index == 99) {
    return chroma.contrast(bg, "black") > 4.5 ? "#000" : "#fff";
  } else {
    return sats[index].hex;
  }
}

function sortBy(colors: any, param: any) {
  return colors.toSorted((a: any, b: any) => b[param] - a[param]);
}
---

<Layout>
  <div class="grid grid-cols-2 gap-3 p-8">
    {
      characters.map((c, index) => (
        <div class="relative ">
          <div class="flex flex-col p-8 inset-0 absolute justify-center">
            <h1
              class="font-bold text-2xl capitalize text-gray-100"
              style={
                chroma.contrast(c.colors[0].hex, "black") > 4.5
                  ? "color: rgba(0, 0, 0, .8)"
                  : "color: rgba(255, 255, 255, .8)"
              }
            >
              {c.name}
            </h1>
            <h3
              class="text-xl text-(--accent)"
              style={`--accent: ${getAccent(c.colors)}`}
            >
              Ending in X Days
            </h3>
          </div>
          <img
            style={`--gradientPrimary: ${c.colors[0].hex}; --gradientSecondary: ${c.colors[1].hex}`}
            class="rounded-lg bg-linear-to-r/oklch from-(--gradientPrimary) to-(--gradientSecondary)"
            src={images[index]}
          />
        </div>
      ))
    }
  </div>

  <div class="hidden">{palette.firefly}</div>
</Layout>
