---
interface Props {
    character: Character;
}

class Character {
    name: string;
    rarity: number;
    vision: string;
    banner: string;
    splash: string;
}

const { character } = Astro.props;

const splash = character.splash ? character.splash : `/gacha-splash/${character.vision}.png`
const sizing = character.splash ? "" : "contain"
---

<div class="five-star-card">
    <img class={`${character.vision} ${sizing}`} src={splash} alt={`${character.name} Gacha Image`} />
    <div class="title-card">
        <div class="card-box">
            <h2>{character.name}</h2>
            <h3>{character.banner}</h3>
        </div>
    </div>
</div>

<style lang="scss">
    .five-star-card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 5px;
        width: 100%;
        img {
            border: 1px solid #7e7e7e;
            box-sizing: border-box;
            object-fit: cover;
            aspect-ratio: 4/7;
            width:100%;

            &.contain {
                object-fit: contain;
            }

            &.electro {
                background: #AA95B4;
            }

            &.pyro {
                background: #B99898;
            }

            &.dendro {
                background: #AEC498;
            }

            &.cryo {
                background: #bfdddd
            }

            &.geo {
                background: #beb574
            }

            &.hydro {
                background: #b0bfe7
            }

            &.anemo {
                background: #a3e9c5
            }
        }

        .title-card {
            display: flex;
            padding: 2px;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            border: 0.2px solid #000;
            .card-box {
                display: flex;
                height: 100%;
                padding: 3px 0px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;
                border: 0.2px solid #8f8f8f;

                h2 {
                    text-align: center;
                    font-family: 'Playfair Display';
                    font-size: 16px;
                    font-weight: 600;
                    align-self: stretch;
                }

                h3 {
                    text-align: center;
                    font-family: 'Playfair Display';
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 400;
                    align-self: stretch;
                    height: 100%;
                }
            }
        }
    }


</style>
